{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="{% static "home/styles.css" %}"/>
    <link rel="stylesheet" href="{% static "3pp/jquery-ui-themes/themes/overcast/jquery-ui.min.css" %}"/>
    <link rel="stylesheet" href="{% static "3pp/visjs/vis.min.css" %}"/>

    <script src="{% static "3pp/jquery-ui/external/jquery/jquery.js" %}"></script>
    <script src="{% static "3pp/jquery-ui/jquery-ui.min.js" %}"></script>
    <script src="{% static "3pp/visjs/vis.min.js" %}"></script>
    <script src="{% static "3pp/js-cookie.min.js" %}"></script>

    <script src="{% static "home/home.js" %}"></script>
    <script>
    </script>
</head>

<body>
  <div id="status" class="ui-widget ui-widget-content ui-corner-all device-info"></div>
  <div id="menu">
    <ul>
      <li>
        <a href="#devices">
          <span class="ui-icon ui-icon-signal-diag"></span>
          <span>Devices</span>
          <span id="warning"></span>
        </a>
      </li>
      <li>
        <a href="#logs">
          <span class="ui-icon ui-icon-script"></span>
          <span>logs</span>
          <span id="warning"></span>
        </a>
      </li>
      <li>
        <a href="#admin">
          <span class="ui-icon ui-icon-gear"></span>
          <span>Admin</span>
        </a>
      </li>
    </ul>
    <div id="devices"></div>
    <div id="logs"></div>
    <div id="admin">
      <iframe id="admin-frame" style="width: 100%;" src="/admin/"/>
    </div>
  </div>
</body>

</html>
