{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="{% static "home/HomeTemplate_files/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "home/HomeTemplate_files/sb-admin.css" %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static "home/HomeTemplate_files/morris.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "home/HomeTemplate_files/font-awesome.css" %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- added -->
    <link rel="stylesheet" href="{% static "home/styles.css" %}"/>
    <link rel="stylesheet" href="{% static "home/jquery-ui-themes/themes/overcast/jquery-ui.min.css" %}"/>
    <link rel="stylesheet" href="{% static "home/visjs/vis.min.css" %}"/>

    <script src="{% static "home/jquery-ui/external/jquery/jquery.js" %}"></script>
    <script src="{% static "home/jquery-ui/jquery-ui.min.js" %}"></script>
    <script src="{% static "home/visjs/vis.min.js" %}"></script>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!--[> Brand and toggle get grouped for better mobile display <]-->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" id="bar">
                      <i class="ui-icon ui-icon-home"></i>
                      Home
                    </a>
                </div>
                <!--[> Top Menu Items <]-->
                <ul class="nav navbar-right top-nav">
                    <li>
                      <a href="/admin">
                        <i class="ui-icon ui-icon-gear"></i> Admin</a>
                    </li>
                </ul>
                <!--[> Sidebar Menu Items - These collapse to the responsive navigation menu on small screens <]-->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                        <li>
                          <a href="#" id="devices_link">
                            <i class="ui-icon ui-icon-signal-diag"></i> Devices</a>
                        </li>
                        <li>
                          <a href="#" id="logs_link">
                            <i class="ui-icon ui-icon-pencil"></i> Logs</a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="ui-icon ui-icon-newwin"></i> Shell</a>
                        </li>
                    </ul>
                </div>
        </nav>

        <div id="page-wrapper">
          <div class="container-fluid">
            <div id="status" class="device-info"></div>
            <div id="devices" class="row"></div>
            <div class="row">
              <div id="logs" class="col-lg-12"></div>
            </div>
          </div>
        </div> <!-- /#page-wrapper -->

    </div> <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static "home/HomeTemplate_files/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "home/HomeTemplate_files/bootstrap.js" %}"></script>

    <script>
      function loadStatus() {
        $("#status").load("/ajax/Status.html")
      }

      function loadDevices() {
        $("#devices").load("/ajax/Devices.html")
      }

      function loadLogs() {
        $.get("/ajax/Logs.json",
          function(data) {
            console.log(data)
            $("#logs").empty()
            var container = document.getElementById("logs")
            var items = new vis.DataSet(JSON.parse(data))
            var options = {}

            var logsTimeline = new vis.Timeline(container, items, options)
          })
      }

      //function createTimeline() {
      //}

      $("#devices_link").click(function() {
        $("#devices").show(0)
        $("#logs").hide(0)
        loadStatus()
        loadDevices()
      })
      $("#logs_link").click(function() {
        $("#devices").hide(0)
        $("#logs").show(0)
        loadStatus()
        loadLogs()
      })

      $("#bar").click(function() {

      })

      $("#logs").hide(0)
      $("#devices").show(0)
      $("#devices_link").parent().addClass("active")

      $(document).ready(function() {
        $(".navbar-nav li a").click(function(event) { //Click on a navigation item
          $(".navbar-nav li").removeClass("active");   //Remove Active style of item
          $(event.target).parent().addClass("active")
        });

        //createTimeline()
        loadStatus()
        loadDevices()

        setInterval(loadStatus, 10000)
      });
   </script>


</body></html>
