body {
    border: 0;
    padding: 0;
    margin: 0;
    background: #FFF
}

table td th {
    margin-left: 20px;
    margin-right: 10px;
}

.log-content {
    padding-left: 20px;
    padding-top: 3px;
    border: solid 1px #222222;
}

th.log-content {
    background-color: #AAAAAA;
}

.vis-item {
    font-size: 12px
}

.INFO, .vis-item.INFO {
    background-color: #66AAFF;
}

.WARNING, .vis-item.WARNING {
    background-color: #E09F0C;
}

.ERROR, .vis-item.ERROR {
    background-color: #F46666;
}

.status-list-element {
    margin-right: 16px
}

li a span {
    float: left;
    margin-right: 5px;
}

.device-info {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
