[Unit]
Description=This is the daemon for home automation.
Documentation=https://github.com/petersohn/home_automation
Wants=postgresql.service

[Service]
Type=simple
ExecStart=/home/home_automation/server/lib/sender.py
User=home_automation
Group=home_automation

[Install]
WantedBy=lighttpd.service
